[submodule "bin/bin/hifiasm"]
	path = bin/bin/hifiasm
	url = https://github.com/chhylp123/hifiasm.git
[submodule "bin/Jellyfish"]
	path = bin/Jellyfish
	url = https://github.com/gmarcais/Jellyfish
[submodule "bin/mummer"]
	path = bin/mummer
	url = https://github.com/mummer4/mummer.git
[submodule "bin/hifiasm"]
	path = bin/hifiasm
	url = https://github.com/chhylp123/hifiasm.git
